@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200&display=swap');
*{
    margin:0;
    padding:0;
}
body {
    font-family: 'Spectral', serif;
    background-image: url("./assets/bgwine.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.5rem;
}
h2 {
    font-size: 2.25rem;
    text-align: center;
    margin: 1rem;
}
.background::before {
    filter: brightness(50%);
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("./assets/wineGlass.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.background {
    display: flex;
    align-items: center;
    position: relative;
    height: 40vh;
    z-index: 2;
}
.backgroundh1 {
    background-color: white;
    max-height: 25vh;
    margin-left: 4rem;
    border-radius: 4px;
    opacity: 90%;
    z-index: 1;
}
.backgroundh1 .linkLogin{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.mainh1{
    display: flex;
    margin: auto;
    z-index: 2;
    color: white;
}
.link {
    color: white;
    padding: 0.25rem 0.5rem;
    box-shadow: 0 0 0 2px black;
    border-radius: 5px;
    margin: 0.5rem;
    text-decoration: none;
    background-color: black;
}
.link:hover {
    color: #c49e34;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . cashiswineImgHome . navBar";
}
  
.navBar { 
    display: inline-block;
    margin-top:1rem;
    justify-content: flex-end;
    grid-area: navBar; 
}
  
.cashiswineImgHome {
    display: flex;
    margin-bottom:1rem;
    justify-self: center;
    grid-area: cashiswineImgHome;
}
  