.formContainer {
    border: solid #c49e34;
    border-radius: 5%;
    width: 50%;
    padding: 0.8rem;
    margin: auto;
    margin-top: 2rem;
    background-color: #e7e7e7;
    z-index: 1;
    margin-bottom: 3rem;
}

.bottleForm {
    display: grid;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
}

.inputBottle {
    font-size:1.5rem;
    padding: 0.25rem;
    border: 2px solid #c49e34;
    background-color: white;
    border-radius: 5px;
    margin: 0.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
}
.labelBottle {
    font-size: 1.5rem;
    font-weight: bold;
}

.inputImage {
    font-weight: bold;
    font-size:1.3em;
    padding: 0.25rem;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
}
.divtruc {
    padding-top: 1rem;
}
.labelImage {
    font-weight: bold;
    font-size: 1.5rem;
}

.btnContainer {
    display: flex;
    justify-content: space-evenly;
}
.etiquetteContainer {
    text-align: center;
}

.btnBottle {
    font-weight: bold;
    font-size: 1.50rem;
    background-color: black;
    border-radius: 10px;
    margin-top: 3rem;
    padding: 0.5rem 0.3rem;
    color: white;
    text-decoration: none;
}

.btnBottle:hover {
    color: #c49e34;
}

.bottles-container{
    padding: 2rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
}

.descriptionBottles {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-decoration: underline goldenrod;
    font-weight: 600;
    border: solid 2px #000000;
    background-color: whitesmoke;
    padding: 1.5rem;
    border-radius: 5%;
    margin-bottom: 1rem;
    margin-left: 2.4rem;
    min-height: 30vh;
}

span {
    display: none;
}

.bottlesVinotheque {
    text-align: center;
}

 .bottleimg {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

.imgbottle {
    max-width: 100%;
    max-height: 15vh;
}

.imgbottle:hover {
    opacity: 0.9;
}

.imgbottle:active
{
   transform: scale(5);
}

.Btn-Trash {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
}